.page {
  /* margin: 1em; */
  font-size: 1em;
  padding: 1.5em;
  margin-bottom: 2.5em;
  /* background: #fff; */
}

.header {
  background-color: #a51c31;
  /* height: 300px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75em 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

.content {
  padding: 1.5em;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75em 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: #fff;
  background-color: #a51c31;
}

.btn_edit,
.btn_delete {
  padding: 10px;
  margin: 5px;
  border: 1px solid #d3d3d3;
  cursor: pointer;
}

.btn_edit {
  background-color: #fff;
}

.btn_delete {
  background-color: #ff0000;
}

.label {
  margin-bottom: 10px;
}

.error {
  color: #ff0000;
  font-size: 12px;
  margin: 5px 0;
}
